@charset "UTF-8";
html, body, p, h1, h2, h3, h4, ul, article, figure {
  padding: 0;
  margin: 0;
  font-weight: normal; }

body {
  line-height: 1.2;
  font-size: 16px;
  width: 100%;
  overflow-x: hidden; }

a {
  color: inherit; }

a,
.btn,
button,
button:before,
button:after {
  text-decoration: none;
  -webkit-transition: all 0.15s ease-in-out;
  transition: all 0.15s ease-in-out;
  cursor: pointer;
  outline: none; }

img {
  max-width: 100%;
  max-height: 100%; }

ul {
  list-style: none; }

.btn,
input,
textarea,
button {
  outline: none; }

.row {
  position: relative;
  width: 1170px;
  margin: 0 auto;
  height: 100%; }
  .row:after {
    display: block;
    content: '';
    clear: both; }

/*
@font-face {
	font-family: pnr;
    src: url('../fonts/f.eot');
    src: url('../fonts/f.eot?#iefix') format('embedded-opentype'),
    url('../fonts/f.woff') format('woff'),
    url('../fonts/f.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
 }
*/
@font-face {
  font-family: pn;
  src: url("../fonts/Proxima Nova Regular.otf");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: pn;
  src: url("../fonts/Proxima Nova Bold.otf");
  font-weight: 700;
  font-style: normal; }

@font-face {
  font-family: pn;
  src: url("../fonts/Proxima Nova Semibold.otf");
  font-weight: 900;
  font-style: normal; }

input,
textarea,
button {
  outline: none;
  font-family: pn;
  font-size: 16px; }

body {
  font-family: pn;
  font-size: 16px;
  background: url("../img/cons.jpg") center bottom no-repeat; }

b {
  font-weight: 700; }

::-webkit-input-placeholder {
  color: #c9c9c9; }

::-moz-placeholder {
  color: #c9c9c9; }

/* Firefox 19+ */
:-moz-placeholder {
  color: #c9c9c9; }

/* Firefox 18- */
:-ms-input-placeholder {
  color: #c9c9c9; }

.btn {
  width: 360px;
  height: 64px;
  line-height: 63px;
  background-color: #fec400;
  border: none;
  text-align: center;
  color: #000000;
  font-size: 17px;
  text-transform: uppercase;
  margin: 0 auto;
  display: block; }
  .btn:hover {
    background-color: #E0AC00; }

header {
  padding: 15px 0; }
  header img {
    float: left; }
  header .right {
    float: right;
    padding: 18px 0 0;
    line-height: 25px; }
  header .btn_coll {
    float: right;
    margin-left: 30px;
    font-size: 16px;
    position: relative;
    text-transform: uppercase;
    cursor: pointer; }
    header .btn_coll:hover {
      opacity: 0.7; }
    header .btn_coll:after {
      content: '';
      position: absolute;
      bottom: 5px;
      left: 0;
      width: 100%;
      height: 6px;
      background: #fec400;
      z-index: -1; }
  header a {
    display: inline-block;
    margin-left: 25px;
    font-size: 23px;
    font-weight: 700;
    font-size: 23px;
    float: right; }

.sliders {
  width: 100%;
  overflow: hidden;
  position: relative; }

.slider1 .center {
  position: absolute;
  top: 14%;
  left: 0;
  width: 100%;
  z-index: 2; }

.slider1 .img {
  position: relative;
  font-size: 0;
  overflow: hidden; }
  .slider1 .img img {
    min-height: 600px;
    max-width: 200%; }
  .slider1 .img:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0px;
    height: 100%;
    width: 100%;
    background-color: #2f2426;
    opacity: 0.75;
    z-index: 1; }

.slider1 h2 {
  color: #ffffff;
  font-size: 68px;
  font-weight: 700; }

.slider1 p {
  padding: 25px 0 70px;
  opacity: 0.65;
  color: #ffffff;
  font-size: 30px; }

.slider1 .btn {
  margin: 0; }

.slider2_poz {
  width: 262px;
  position: absolute;
  top: 19%;
  right: 10%;
  z-index: 3;
  color: #9B9493;
  font-size: 21px;
  font-weight: 700;
  text-align: center; }
  .slider2_poz .slick-list {
    padding: 25px 0 0; }
  .slider2_poz .slider2 {
    font-size: 20px;
    margin-top: -20px; }
    .slider2_poz .slider2 .slick-current:before {
      content: '';
      position: absolute;
      top: 0;
      left: 0px;
      width: 3px;
      height: 100%;
      background: #fec400; }
    .slider2_poz .slider2 .slick-current:after {
      background-image: -webkit-gradient(linear, left top, right top, from(#fec400), to(#ffffff));
      background-image: -webkit-linear-gradient(left, #fec400 0%, #ffffff 100%);
      background-image: linear-gradient(to right, #fec400 0%, #ffffff 100%);
      opacity: 0.23; }
    .slider2_poz .slider2 .slide {
      position: relative;
      cursor: pointer; }
      .slider2_poz .slider2 .slide:after {
        content: '';
        z-index: 1;
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background-color: #2f2426;
        opacity: 0.5; }
      .slider2_poz .slider2 .slide img {
        display: block; }
    .slider2_poz .slider2 span {
      position: absolute;
      z-index: 4;
      top: 25px;
      left: 25px;
      color: #ffffff; }

.slick-vertical .slick-slide {
  border: none; }

.slick-slide {
  outline: none; }

h2 {
  font-weight: 700; }

.h2 {
  font-size: 46px;
  font-weight: 700;
  padding-left: 100px;
  overflow: hidden;
  background: url("../img/title_l.png") left top 20px no-repeat;
  margin-bottom: 62px;
  line-height: 1.1; }
  .h2 span {
    font-weight: 400;
    font-size: 18px;
    float: right;
    display: inline-block;
    max-width: 475px;
    line-height: 29px;
    text-align: right; }

.types_services {
  padding: 100px 0 145px; }
  .types_services ul {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 55px; }
    .types_services ul li {
      width: 33.3%;
      -webkit-box-sizing: border-box;
              box-sizing: border-box;
      border: 1px solid #e3e3e3;
      height: 309px;
      padding: 47px 44px;
      position: relative; }
      .types_services ul li h3 {
        font-size: 30px;
        line-height: 48px;
        font-weight: 700;
        margin-bottom: 23px;
        line-height: 1.1; }
      .types_services ul li p {
        opacity: 0.6;
        font-size: 18px; }
      .types_services ul li img {
        position: absolute;
        bottom: 50px;
        right: 50px;
        display: block; }
      .types_services ul li:nth-child(1), .types_services ul li:nth-child(2), .types_services ul li:nth-child(3) {
        border-bottom: none; }
      .types_services ul li:nth-child(1), .types_services ul li:nth-child(2), .types_services ul li:nth-child(4), .types_services ul li:nth-child(5) {
        border-right: none; }

.example {
  margin-bottom: 122px; }
  .example h2 {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 5; }
  .example .title {
    position: absolute;
    bottom: 129px;
    left: -130px;
    /* Для Firefox */
    -ms-transform: rotate(-90deg);
    /* Для IE */
    -webkit-transform: rotate(-90deg);
    /* Для Safari, Chrome, iOS */
    /* Для Opera */
    transform: rotate(-90deg);
    color: #e1dfdd;
    font-size: 34px;
    font-weight: 700;
    width: 300px; }
  .example .slider_ex {
    height: 705px;
    position: relative;
    margin: 0 0 0 100px; }
  .example .slide {
    padding: 218px 0 0 58px;
    border: 6px solid #fec400;
    margin-right: 67px;
    height: 487px;
    margin-top: 215px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    position: relative; }
  .example h3 {
    font-size: 26px;
    font-weight: 700;
    margin-bottom: 25px;
    max-width: 250px; }
  .example p, .example .bott {
    font-size: 18px;
    max-width: 250px;
    opacity: 0.6; }
  .example .bott {
    position: absolute;
    left: 58px;
    bottom: 41px; }
  .example .slick-arrow {
    position: absolute;
    top: 50%;
    right: 652px;
    width: 98px;
    height: 98px;
    padding: 0;
    background-color: #d4d3d2;
    margin: -49px 0 0;
    text-indent: -9999px;
    border: none;
    background-image: url("../img/arr.png");
    background-repeat: no-repeat;
    background-position: center;
    z-index: 5; }
    .example .slick-arrow:hover {
      background-color: #b6b6b5; }
  .example .slick-next {
    margin: -49px -98px 0 0;
    background-image: url("../img/arr_right.png");
    background-repeat: no-repeat;
    background-position: center; }
  .example img {
    max-height: 700px;
    position: absolute;
    right: -73px;
    top: -222px;
    height: 652px; }
  .example .slick-dots {
    width: 652px;
    right: 0;
    bottom: 25px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    position: absolute; }
    .example .slick-dots li {
      width: 21px;
      text-align: center; }
      .example .slick-dots li.slick-active button {
        background-color: #fec400; }
    .example .slick-dots button {
      width: 7px;
      height: 7px;
      padding: 0;
      background-color: #c1c1c1;
      border: none;
      display: block;
      margin: 0 auto;
      font-size: 0;
      text-indent: -99999px; }

.procedure {
  padding: 110px 0 120px;
  background-color: #f5f4f3; }
  .procedure h2 {
    font-size: 46px;
    text-align: center; }
    .procedure h2 span {
      display: inline-block;
      padding: 0 98px;
      background: url("../img/title_l.png") left top 20px no-repeat, url("../img/tit_r.png") right top 20px no-repeat; }
  .procedure ul {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin: 50px 0 55px; }
    .procedure ul li {
      width: 24.8%;
      padding: 40px 43px 50px;
      height: 471px;
      position: relative;
      -webkit-box-sizing: border-box;
              box-sizing: border-box;
      font-size: 26px;
      font-weight: 700;
      background: #fff; }
      .procedure ul li b {
        display: block;
        position: absolute;
        width: 100%;
        left: 0;
        bottom: 0;
        color: #fec400;
        font-size: 222px;
        line-height: 1.1;
        text-align: center; }

.pay {
  padding: 100px 0 120px; }
  .pay h2 {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 5; }
  .pay ul {
    padding: 10px 0 0 580px;
    background: url("../img/money.jpg") left bottom no-repeat; }
    .pay ul:after {
      content: 'Если по окончанию у вас остануться замечания, устраним на месте без дополнительных платежей';
      width: 450px;
      font-size: 14px;
      opacity: 0.5;
      color: #000000;
      margin-top: -15px;
      display: block;
      max-width: 100%; }
    .pay ul li {
      position: relative;
      height: 128px;
      line-height: 30px;
      vertical-align: top; }
      .pay ul li b {
        display: inline-block;
        color: #d8d7d6;
        width: 195px;
        font-size: 48px;
        vertical-align: top; }
      .pay ul li p {
        display: inline-block;
        font-size: 18px;
        line-height: 1.15;
        padding-top: 1px;
        vertical-align: top; }
      .pay ul li span {
        display: inline-block;
        font-size: 36px;
        position: relative;
        width: 68px;
        text-align: center;
        margin-right: 31px;
        vertical-align: top; }
        .pay ul li span:after {
          content: '';
          display: block;
          width: 100%;
          bottom: -8px;
          height: 6px;
          background: #fec400; }
      .pay ul li:not(:last-child):after {
        content: '';
        display: block;
        background: url("../img/points.png") center no-repeat;
        width: 3px;
        height: 48px;
        left: 12px;
        bottom: 25px;
        position: absolute; }

.coll {
  padding: 110px 0;
  text-align: center; }
  .coll h2 {
    font-size: 46px;
    padding-bottom: 35px;
    background: url("../img/tit_b.png") center bottom no-repeat; }
  .coll p {
    padding: 25px 0; }
  .coll a {
    color: #fec400;
    font-size: 72px;
    font-weight: 700; }

.form {
  padding-bottom: 150px; }
  .form form {
    background-color: #ffffff;
    padding: 75px 80px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    margin-right: 30px;
    position: relative;
    border: 6px solid #fec400; }
    .form form:after {
      content: '';
      border: 6px solid #fec400;
      display: block;
      width: 45%;
      border-left: none;
      height: 100%;
      position: absolute;
      right: -6px;
      top: -6px;
      z-index: 4; }
    .form form img {
      position: absolute;
      top: -34px;
      right: -34px;
      max-height: 665px; }
    .form form .left {
      width: 48%; }
    .form form h3 {
      color: #b5b5b5;
      font-size: 35px;
      font-weight: 700;
      line-height: 1.35;
      margin-bottom: 40px; }
    .form form .btn {
      margin-top: 50px; }

.inp {
  font-size: 22px;
  font-weight: 400;
  height: 44px;
  border: none;
  width: 100%;
  display: block;
  border-bottom: 2px solid #eaeaea;
  margin-bottom: 30px; }

footer {
  padding-bottom: 50px; }
  footer .right {
    float: right; }
    footer .right span {
      display: block;
      float: right;
      width: 140px;
      border-left: 1px solid #c5c7d3;
      padding: 6px 0 6px 15px;
      margin-left: 15px;
      color: #8c8e9b;
      font-size: 17px; }
  footer .pol {
    display: block;
    margin-top: 18px;
    float: left;
    color: #8c8e9b;
    border-bottom: 1px dotted #8c8e9b; }
    footer .pol:hover {
      border-bottom: none; }

.shadow {
  background: rgba(0, 0, 0, 0.7);
  width: 100%;
  height: 120%;
  position: absolute;
  top: 0;
  left: 0;
  position: fixed;
  display: none;
  z-index: 19; }

.sf {
  position: absolute;
  width: 554px;
  padding: 80px 84px;
  background-color: #ffffff;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: #fff;
  position: absolute;
  top: 10%;
  left: 50%;
  position: relative;
  margin-left: -277px;
  position: absolute;
  border-top: 5px solid #fec400;
  position: fixed;
  display: none;
  z-index: 20; }
  .sf .close {
    background: url("../img/close.png") center bottom no-repeat;
    width: 20px;
    height: 20px;
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer; }
    .sf .close:hover {
      opacity: .7; }
  .sf h2 {
    font-size: 35px;
    font-weight: 700;
    line-height: 1.2;
    margin-bottom: 40px;
    text-align: center; }
  .sf .btn {
    margin-top: 35px; }

.inst {
  font-size: 20px;
  text-align: center;
  padding-bottom: 20px;
  vertical-align: middle; }
  .inst:hover {
    opacity: 0.7; }
  .inst img {
    vertical-align: middle; }

@media screen and (max-width: 1400px) {
  .sf {
    padding: 45px 80px 50px; }
  .slider2_poz {
    top: 8%; }
  .slider1 .img img {
    max-width: 125%;
    min-height: auto; } }

@media screen and (max-width: 1180px) {
  .row {
    width: 920px; }
  .slider1 h2 {
    width: 66%;
    font-size: 55px; }
  .slider2_poz {
    right: 5%;
    width: 200px; }
  .example .slider_ex {
    margin-left: 60px; }
  .example img {
    width: 65%;
    height: 510px;
    top: auto;
    bottom: 42px; }
  .example .slick-arrow {
    right: 59%;
    top: 45%; }
  .example .slide {
    padding-top: 180px; }
  header span {
    display: block;
    clear: both;
    text-align: right; }
  header .right {
    padding-top: 7px; }
  .types_services {
    padding: 70px 0 90px; }
  .example {
    margin-bottom: 70px; }
  .procedure,
  .pay {
    padding: 70px 0; }
  .form form img {
    height: 100%;
    top: 0;
    right: 0; }
  .form form:after {
    display: none; }
  .form form {
    padding: 50px; }
  .form form h3 br {
    content: ' ';
    display: inline; }
  .form {
    padding-bottom: 100px; }
  body {
    background: url("../img/cons2.jpg") center bottom no-repeat; } }

@media screen and (max-width: 950px) {
  /*768*/
  .row {
    width: 740px; }
  .slider2_poz {
    width: 100%;
    bottom: 0;
    right: 0;
    height: auto;
    top: auto; }
  .slider1 .img img {
    max-width: 165%; }
  .slider1 h2 {
    width: 100%;
    font-size: 48px; }
  .slider1 p {
    padding: 15px 0 30px; }
  .h2 {
    text-align: center;
    background: none;
    padding-left: 0;
    background: url("../img/tit_b.png") center top 60px no-repeat; }
    .h2 span {
      float: none;
      clear: both;
      text-align: center;
      margin-top: 5px;
      display: block;
      width: 100%;
      max-width: 100%;
      padding-top: 30px; }
  .types_services ul li {
    padding: 30px; }
  .example h2 {
    width: 100%;
    background-position: center bottom;
    padding-bottom: 30px;
    margin-bottom: 0;
    position: static; }
    .example h2 br {
      content: ' ';
      display: inline; }
  .example img {
    height: auto; }
  .example .slick-arrow {
    top: 0; }
  .example .slider_ex {
    height: auto;
    margin-top: 70px; }
  .example .slick-arrow {
    right: 54.5%; }
  .example .slide {
    padding: 70px 30px 50px;
    margin-top: 5px;
    margin-right: 0;
    height: 350px; }
  .example img {
    top: 0;
    right: 0;
    display: block;
    margin: 0 auto;
    width: 45%;
    height: auto; }
  .example .bott {
    right: 30px;
    bottom: 30px; }
  .example .slick-dots {
    width: 100%;
    right: 0;
    bottom: 20px; }
  .procedure ul {
    overflow: hidden;
    display: block; }
    .procedure ul li {
      float: left;
      width: 48%;
      margin: 0 1% 12px;
      height: 380px; }
  .pay h2 {
    width: 100%;
    position: static; }
    .pay h2 br {
      content: '';
      display: inline; }
  .pay ul {
    padding: 0;
    background: none;
    max-width: 600px;
    margin: 0 auto; }
  .coll a {
    font-size: 60px; }
  .coll h2 {
    padding-bottom: 28px; }
  .form form img {
    display: none; }
  .form form h3 {
    text-align: center; }
  .form form {
    margin: 0 auto;
    width: 460px; }
  .form form .left {
    width: 100%; }
  .form form .btn {
    width: 100%; }
  .coll {
    padding-bottom: 70px; }
  .sf {
    padding: 35px 40px;
    width: 480px;
    margin-left: -240px; }
    .sf .btn {
      margin: 30px auto 0; }
  .sf .inp {
    height: 35px;
    font-size: 20px;
    margin-bottom: 20px; } }

@media screen and (max-width: 750px) {
  /*480*/
  /*контент 460*/
  .row {
    width: 460px; }
  header {
    text-align: center; }
    header img {
      float: none; }
    header span {
      text-align: center; }
  header .right {
    text-align: center;
    width: 400px;
    margin: 0 auto;
    float: none; }
  header a {
    float: left;
    margin-left: 0; }
  header .btn_coll {
    margin-left: 0; }
  .slider1 h2 {
    font-size: 40px;
    line-height: 1.1; }
  .slider1 {
    text-align: center; }
  .slider1 .btn {
    margin: 0 auto; }
  .slider1 p {
    font-size: 20px;
    padding: 10px 0 15px; }
  .types_services ul {
    display: block;
    overflow: hidden; }
  .types_services ul li {
    width: 50%;
    float: left; }
    .types_services ul li:nth-child(4) {
      border-left: none;
      border-bottom: none;
      border-right: 1px solid #e3e3e3; }
    .types_services ul li:nth-child(2) {
      border-right: 1px solid #e3e3e3; }
  .types_services ul li img {
    bottom: 30px;
    right: 30px; }
  .example .title {
    position: static;
    -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
            transform: rotate(0deg);
    text-align: center;
    padding-top: 10px;
    width: 100%; }
  .example img {
    position: static;
    margin: 0 auto;
    width: 60%;
    padding: 15px 0; }
  .example .slide {
    height: auto;
    padding-top: 25px; }
  .example .slider_ex {
    margin-left: 0; }
  .example .bott {
    max-width: 300px;
    text-align: center;
    left: 30px; }
  .example h3, .example p, .example .bott {
    max-width: 100%;
    text-align: center; }
  .example .slick-arrow {
    width: 50px;
    height: 50px;
    left: 0;
    margin-left: 0;
    top: 50%;
    margin-top: 0; }
  .example .slick-next {
    margin-right: 0;
    right: 0;
    left: auto; }
  .procedure h2 span {
    font-size: 36px;
    padding: 0 80px;
    background-position: left top 17px, right top 17px; }
  .procedure ul li {
    font-size: 24px;
    height: 330px; }
    .procedure ul li b {
      font-size: 180px; }
  .pay ul li b {
    width: 165px; }
  .pay ul li span {
    margin-right: 15px; }
  .pay ul li p {
    width: 200px;
    font-size: 16px; }
    .pay ul li p br {
      content: ' ';
      display: inline; }
  .coll a {
    font-size: 40px; }
  .coll h2 {
    font-size: 40px;
    line-height: 1; }
  .form form h3 {
    line-height: 1; }
  .form {
    padding-bottom: 70px; }
  footer {
    text-align: center; }
    footer .pol {
      display: inline-block;
      float: none; }
  footer .right {
    width: 300px;
    float: none;
    margin: 10px auto 0; }
  .slider1 .btn {
    height: 50px;
    line-height: 49px; }
  .slider2_poz .slider2 span {
    top: 10px;
    left: 10px; }
  .sf {
    width: 300px;
    padding: 17px 25px;
    margin-left: -150px; }
    .sf h2 {
      margin-bottom: 10px;
      font-size: 28px;
      line-height: 1; }
    .sf .btn {
      height: 40px;
      line-height: 39px;
      font-size: 13.5px;
      width: 100%; }
  .sf1 {
    top: 5%; }
  .sf .close {
    top: 5px;
    right: 5px; }
  .sf .inp {
    height: 24px;
    margin-bottom: 15px;
    font-size: 16px; } }

@media screen and (max-width: 550px) {
  /*390*/
  .slider1 .img img {
    max-width: 185%; } }

@media screen and (max-width: 470px) {
  .row {
    width: 300px; }
  .form form {
    width: 300px; }
  header .right {
    width: 300px; }
  header .btn_coll, header a {
    float: none;
    display: inline-block;
    margin-top: 5px; }
  header span {
    font-size: 14px; }
  .slider1 h2 {
    font-size: 28px; }
  .btn {
    height: 45px;
    line-height: 44px;
    font-size: 14px;
    width: 100%; }
  .slider2_poz .slider2 span {
    font-size: 14px; }
  .slider1 p {
    font-size: 16px; }
  .types_services {
    padding: 50px 0; }
  .h2 {
    font-size: 36px;
    background-position: center top 50px; }
    .h2 span {
      font-size: 16px;
      line-height: 1.3;
      margin-top: 10px; }
  .types_services ul li {
    width: 100%;
    float: none;
    height: auto;
    overflow: hidden;
    padding-bottom: 75px; }
    .types_services ul li img {
      right: 15px;
      bottom: 15px; }
  .types_services ul li p {
    padding-bottom: 30px; }
  .types_services ul li:nth-child(1),
  .types_services ul li:nth-child(5) {
    border-right: 1px solid #e3e3e3;
    border-bottom: none; }
  .types_services ul li:nth-child(4) {
    border-left: 1px solid #e3e3e3; }
  .example .slider_ex {
    margin-top: 30px; }
  .example img {
    width: 95%;
    padding-bottom: 35px; }
  .example h3 {
    font-size: 24px;
    margin-bottom: 10px; }
  .example .slick-dots {
    bottom: -20px; }
  .example .slide {
    padding-bottom: 25px; }
  .example .bott {
    bottom: 10px; }
  .procedure ul li {
    float: none;
    width: 100%; }
  .pay h2 {
    background: none;
    line-height: 1.1; }
  .pay ul li p {
    width: 100%;
    padding-top: 10px; }
  .pay ul li:not(:last-child):after {
    display: none; }
  .coll a {
    font-size: 28px; }
  .coll p {
    font-size: 14px; }
  .coll h2 {
    font-size: 36px; }
  .procedure, .pay {
    padding: 50px 0; }
  .pay {
    padding-bottom: 30px; }
  .form form h3 {
    font-size: 24px; }
  .form form {
    padding: 20px; }
    .form form .btn {
      margin-top: 25px; }
  .inp {
    height: 35px;
    font-size: 16px;
    margin-bottom: 20px; }
  .form form .btn {
    font-size: 12px; }
  body {
    background: none; }
  .form, .coll, footer {
    background: #F5F4F2; }
  .coll {
    padding-top: 35px; }
  .h2 {
    margin-bottom: 35px; } }

@media screen and (max-width: 385px) {
  /*375*/ }

@media screen and (max-width: 370px) {
  /*360*/
  .slider1 .img img {
    max-width: 215%; }
  .slider2_poz .slider2 span {
    font-size: 13px;
    top: 5px;
    left: 5px; } }

@media screen and (max-width: 350px) {
  /*320*/ }
